<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/err404.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/calculator">Calculator</a>
      <a href="/compute">Expressions</a>
    </div>
    <div class="errorMessage">
      <h1>Requested resource is not found on the server!</h1>
      <img src="/img/emoji.png" alt="Sorry emoji" />
    </div>
  </body>
</html>
