<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= pageTitle %></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#">Home</a>
      <a href="/calculator">Calculator</a>
      <a href="/compute">Expressions</a>
    </div>
    <div class="fontawesome">
      <img src="./../img/calculator-solid.svg" ; style="width: 100%" ; />
    </div>
    <footer>
      <div class="footer">Made by Arpit</div>
    </footer>
  </body>
</html>
